[submodule "dlaicourse"]
	path = dlaicourse/dlaicourse
	url = git@github.com:jandvanegas/dlaicourse.git
[submodule "fashion-mnist"]
	path = Course1IntroductionTF/fashion-mnist/fashion-mnist
	url = https://github.com/zalandoresearch/fashion-mnist.git
